:root{
    --white: #fff;
    --primary: #FF9600;
    --ibm: 'IBM Plex Sans', sans-serif;
    --yellowtail: 'Yellowtail', cursive;
}
   /* ===common code start here=== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.common_btn{
    font-size: 18px;
    font-family: var(--ibm);
    font-weight: 700;
    color: var(--white);
    background-color: var(--primary);
    text-transform: capitalize;
    border-radius: 4px;
    padding: 20px 50px;
    transition: all linear 0.3s;
    display: inline-block;
}
.sub_heading{
    font-size: 30px;
    font-weight: 400;
    font-family: var(--yellowtail);
    line-height: normal;
    text-transform: capitalize;
}
.main_heading{
    color: #222;
    font-family: var(--ibm);
    font-size: 54px;
    font-weight: 700;
    line-height: normal;
}
p{
    color: #222;
    font-family: var(--ibm);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
    /* ===common end start here=== */


    /* ===navbar start here=== */
#navbar{
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.nav_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.logo{
    width: 20%;
}
.menu{
    width: 60%;
}
.menu > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
.menu ul li a {
    color: var(--white);
    font-size: 18px;
    font-family: var(--ibm);
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.menu ul li {
    position: relative;
}
.menu ul li:hover .dropdown{
    opacity: 1;
    visibility: visible;
    left: 0;
    top: 100%;
}
.menu > ul > li > a:hover{
    color: var(--primary);
}
.menu ul li a i{
    margin-left: 5px;
}
.menu .dropdown{
    background-color: var(--primary);
    position: absolute;
    left: 0;
    top: 0;
    width: 170px;
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.3s;
}
.menu .dropdown li{
    padding: 8px 20px;
    
}
.menu .dropdown .line{
    position: relative;
}
.menu .dropdown .line::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(196, 196, 196);
    left: 0;
    bottom: 0;
}
.menu .dropdown li:hover{
    background-color: #222;
}
.menu .dropdown li a{
    font-size: 22px;
    font-weight: 400;
    
}
.nav_btn{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.nav_btn a i{
    margin-left: 10px;
}
.nav_btn .common_btn:hover{
    background-color: var(--white);
    color: var(--primary);
}
    /* ===navbar end here=== */

    /* ===banner start here=== */
#banner{
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 290px 0 155px 0;
    position: relative;
}
.banner_content{
    text-align: center;
}
.banner_content h1{
    color: var(--white);
    font-size: 72px;
    font-weight: 700;
    font-family: var(--ibm);
    line-height: normal;
    width: 820px;
    text-align: center;
    margin: 0 auto;
}
.banner_btn{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 50px;
}
.banner_btn .common_btn:hover{
    background-color: var(--white);
    color: #000;
}
.banner_shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.banner_shape img{
    width: 100%;
    display: block;
}
    /* ===banner end here=== */

    /* ===adventure start here=== */
#adventure{
    padding-top: 72px;
}
.adventure_wrapper{
    display: flex;
    column-gap: 54px;
    padding-bottom: 40px;
}
.adventure_content{
    width: 660px;
    margin-top: 25px;
}
.adventure_content .sub_heading{
    color: #14B9F1;
}
.adventure_content h2{
    margin-top: 5px;
    position: relative;
}
.adventure_content h2::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #A0A0A0;
    left: 0;
    bottom: -27px;
}
.adventure_content > p{
    margin-top: 62px;
}
.adventure_wrapper .paragraph_wrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.adventure_wrapper .paragraph_wrapper .paragraph{
    display: flex;
    align-items: center;
    column-gap: 23px;
} 
.adventure_wrapper .paragraph_wrapper .paragraph .icon{
    height: 30px;
    width: 30px;
    background-color: #EEEEEE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adventure_btn .common_btn{
    margin-top: 40px;
    border: 1px solid transparent;
}
.adventure_btn .common_btn:hover{
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
}
.adventure_img{
    width: 660px;
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.adventure_img_item {
    width: 300px;
    height: 620px;
    overflow: hidden;
    border-radius: 5px;
}
.adventure_img_item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.adventure_img_item:last-child{
    height: 520px;
}
    /* ===adventure end here=== */
    
    
    /* ===counter start here=== */
#counter{
    padding-top: 40px;
    padding-bottom: 203px;
}
.counter_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}
.counter_item{
    width: 310px;
    border-radius: 10px;
}
.counter_content{
    padding: 40px 62px 45px 55px;
    text-align: center;
}
.counter_item span{
    color: #222;
    font-size: 80px;
    font-family: var(--ibm);
    font-weight: 700;
}
.counter_item p{
    color: #222;
    margin-top: 8px;
}
.counter_item:nth-child(1){
    background: rgb(255, 244, 230, 0.5);
}
.counter_item:nth-child(2){
    background: rgb(232, 252, 234, 0.5);
    background-image: url(../images/stat-bg.png);
}
.counter_item:nth-child(3){
    background: rgb(242, 242, 252, 0.5);
    background-image: url(../images/stat-bg.png);
}
.counter_item:nth-child(4){
    background: rgb(252, 242, 245, 0.5);
    background-image: url(../images/stat-bg.png);
}
    /* ===counter end here=== */

    
    /* ===sports start here=== */
#sports{
    background: #0C3543;
    width: 100%;
    position: relative;
}
.sports_content{
    display: flex;
    align-items: center;
    column-gap: 165px;
    padding-top: 102px;
    position: relative;
}
.sports_content::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: var(--white);
    left: 0;
    bottom: 62px;
}
.sports_content .sub_heading{
    color: var(--primary);
    margin: 0 0 5px 5px;
}
.sports_heading .main_heading{
    width: 394px;
    margin-bottom: 91px;
    color: var(--white);
}
.sports_paragraph p{
    width: 635px;
    margin-right: 126px;
    color: var(--white);
}
.sports_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px 24px;
    flex-wrap: wrap;
}
.sports_img{
    width: 424px;
    height: 510px;
    position: relative;
    background-color: #0F4152;
}
.img_footer{
    width: 424px;
    height: 145px;
}
.sports_img img{
    width: inherit;
    height: 365px;
    object-fit: cover;
    display: block;
}
.sports_img .img_footer{
    margin: 27px 98px 79px 97px;
}
.sports_img .sub_heading{
    font-family: var(--ibm);
    color: var(--white);
}
.sports_img p{
    margin-top: 24px;
    color: var(--white);
}
.sports_footer h2{
    color: var(--white);
    text-align: center;
    font-size: 160px;
    font-family: 'Arizonia', cursive;
    font-weight: 400;
    line-height: normal;
    margin-top: 130px;
    padding-bottom: 98px;
}
.sports_shape{
    position: absolute;
    left: 0;
    bottom: 268px;
    width: 100%;
}
.sports_shape img{
    width: 100%;
}
.sports_footer_shape{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
}
.sports_footer_shape img{
    width: 100%;
    display: block;
}
    /* ===sports end here=== */

    /* ===extreme start here=== */
#extreme{
    padding-top: 110px;
    padding-bottom: 12px;
    background-color: var(--primary);
}
.extreme_logo{
    margin: 0 auto;
    text-align: center;
}
.extreme_heading .main_heading{
    margin: 26 10px;
    color: var(--white);
    text-align: center;
    text-transform: capitalize;
}
.extreme_sub_heading .sub_heading{
    color: var(--white);
    font-family: var(--ibm);
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    line-height: normal;
}
.extreme_btn{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.extreme_btn .common_btn{
    background-color: #0C3543;
    border: 1px solid transparent;
}
.extreme_btn .common_btn:hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: var(--white);
}
.extreme_btn .common_btn i{
    margin-right: 12px;
}
.extreme_img_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    margin-top: 20px;
}
.extreme_img{
    height: 470px;
    width: 424px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.extreme_img:nth-child(1){
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(34, 34, 34, 0.45), rgba(0, 0, 0, 1)), url(../images/sports.png);
}
.extreme_img:nth-child(2){
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(34, 34, 34, 0.45), rgba(0, 0, 0, 1)), url(../images/club.png);
}
.extreme_img:nth-child(3){
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(34, 34, 34, 0.45), rgba(0, 0, 0, 1)), url(../images/team.png);
}
.extreme_img_content{
    padding: 234px 74px 0 65px;
}
.extreme_img_content h3{
    color: var(--white);
    font-family: var(--ibm);
    font-size: 40px;
    font-weight: 700;
}
.extreme_img_content .sub_heading{
    color: var(--white);
    font-family: var(--ibm);
    font-weight: 400;
    margin-top: 20px;
}
.extreme_img_text{
    margin-top: 70px;
    display: flex;
    align-items: center;
    position: relative;
}
.extreme_img_text::after{
    position: absolute;
    content: "";
    width: 285px;
    height: 1px;
    background-color: #717171;
    top: -25px;
}
.extreme_img_text p{
    color: #A0A0A0;
}
.extreme_img_text .icon{
    background-color: var(--white);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
    /* ===extreme end here=== */


    /* ===excitement start here=== */
#excitement{
    padding-top: 192px;
    padding-bottom: 100px;
}
.excitement_heading{
    text-align: center;
}
.excitement_heading .sub_heading{
    color: #14B9F1;
}
.excitement_heading .main_heading{
    margin-top: 5px;
    position: relative;
}
.excitement_heading .main_heading::before{
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #A0A0A0;
    bottom: -28px;
    left: 620px;
}
.excitement_wrapper{
    display: flex;
    column-gap: 24px;
    align-items: center;
    margin-top: 54px;
}
.excitement_item{
    width: 312px;
}
.excitement_icon{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #F2F2FD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 22px;
}
.excitement_icon i{
    width: 55px;
    height: 55px;
    color: #0055FF;
}
.excitement_content{
    padding: 56px 18px 45px 18px;
    text-align: center;
}
.excitement_item h3{
    color: #222;
    font-size: 24px;
    font-family: var(--ibm);
    font-weight: 700;
    line-height: normal;
}
.excitement_item p{
    margin-top: 16px;
}
    /* ===excitement end here=== */


    /* ===passion start here=== */
#passion{
    background-color: #F7F7F7;
    padding-top: 100px;
    padding-bottom: 128px;
}
.passion_content{
    display: flex;
    align-items: center;
    column-gap: 147px;
}
.passion_content .sub_heading{
    color: var(--primary);
}
.passion_content .main_heading{
    width: 410px;
}
.passion_content p{
    padding-right: 128px;
}
.passion_wrapper{
    display: flex;
    column-gap: 24px;
    align-items: center;
    margin-top: 100px;
    position: relative;
}
.passion_wrapper::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #C4C4C4;
    left: 0;
    top: -70px;
}
.passion_item{
    width: 424px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.passion_item img{
    width: 100%;
    height: 300px;
    display: block;
}
.img_text{
    padding: 27px 31px 37px 28px;
    background-color: var(--white);
}
.img_text .main_heading{
    font-size: 28px;
    text-align: center;
}
.img_text > p{
    text-align: center;
    margin-top: 20px;
    color: #000;
    margin-bottom: 45px;
}
.img_text h4{
    color: var(--primary);
    font-family: var(--ibm);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 75px;
}
.passion_item::before{
    position: absolute;
    content: "";
    width: 424px;
    height: 1px;
    background-color: #EEEEEE;
    left: 0;
    bottom: 90px;
}
    /* ===passion end here=== */


    /* ===logo_area start here=== */
#logo_area{
    background-color: var(--white);
    padding: 45px 0;
}
.logo_wrapper{
    display: flex;
    align-items: center;
}
.logo_item{
    width: 264px;
    height: 264px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-self: center;
}
.logo_item img{
    padding: 58px 62px 59px 61px;
}
    /* ===logo_area end here=== */


    /* ===footer start here=== */
#footer{
    width: 100%;
    background-color: #0C3543;
}
.footer_devide{
    display: flex;
}
.footer_img{
    width: 40%;
    height: 750px;
    overflow: hidden;
}
.footer_img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.footer_content{ 
    padding-left: 138px;
    width: 60%;
}
.footer_top{
    display: flex;
    margin-top: 80px;
}
.footer_btn{
    margin-top: 50px;
    position: relative;
}
.footer_btn .common_btn:hover{
    background-color: var(--white);
    color: var(--primary);
}
.footer_btn::after{
    position: absolute;
    content: "";
    width: 821px;
    height: 1px;
    background: rgba(196, 196, 196, 0.50);
    left: 0;
    bottom: -80px;
}
.footer_right p{
    color: var(--white);
    width: 560px;
    margin-left: 60px;
    margin-top: 114px;
}
.footer_bottom{
    display: flex;
    margin-top: 148px;
}
.footer_contact .sub_heading{
    font-family: var(--ibm);
    color: var(--white);
    position: relative;
}
.footer_contact .sub_heading::after{
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: var(--white);
    left: 0;
    bottom: -25px;
}
.footer_adress{
    margin-left: 110px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}
.footer_adress p{
    color: var(--white);
}
.footer_text p{
    color: var(--white);
    margin-top: 72px;
}
    /* ===footer end here=== */

